:root {

    font-size: 18px;
}

div {

    outline: 3px solid #db00db;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: rotate(45deg);

}

p {

    background-color: aqua;
    padding: 5px;
    min-width: 700px;
}