* {

    /* outline: 3px solid rgb(0, 0, 0); */
}

#maincontainer {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(226, 244, 255), rgb(183, 177, 216));

}


#chessboard {

    width: 90%;
    max-height: 80vh;
    max-width: 80vh;
    aspect-ratio: 1 / 1;


    display: flex;
    flex-direction: column;
    outline: 3px solid black;

}

#chessboard > div {

    height: 11.1%;
    display: flex;
    flex-direction: row;
    outline: 3px solid rgb(0, 0, 0);
    flex-grow: 1;
}

#chessboard div:nth-of-type(2) div:nth-of-type(4) {

    background-color: rgb(255, 0, 0) !important;

}

#chessboard .row > div:first-child {

    background-color: rgba(255, 255, 255)!important;

}

#chessboard .row:last-child > div {
    background-color: rgba(255, 255, 255) !important;
}

#chessboard div div {

    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 30pt;
    width: 12.5%;
    outline: 3px solid black;

}

#chessboard div:nth-of-type(even) div:nth-of-type(even) {

    background-color: saddlebrown;
    outline: 3px solid black;

}

#chessboard div:nth-of-type(odd) div:nth-of-type(odd) {

    background-color: saddlebrown;
    outline: 3px solid black;

}